@charset "UTF-8";
/*Diseño Titulo Principal*/
#titulo__principal--diseño {
  color: #7E7F9A;
  background-color: #FFD7BA;
  font-weight: bolder;
  font-size: 30px;
  text-align: center;
  letter-spacing: 7px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 30px;
  margin-top: 20px; }

/*Boody*/
.segparte {
  margin-left: 6cm; }

.borden {
  border: 2px double #FFD7BA;
  margin-top: 10px;
  margin-bottom: 10px; }

.header {
  display: flex;
  justify-content: center;
  align-items: center; }

.header .navbar {
  background-color: transparent !important; }

main h5 {
  font-size: 40px; }

.imgcarru {
  margin-top: 1.5cm; }

.menuPrincipal {
  font-size: 25px;
  text-align: center;
  font-weight: normal;
  letter-spacing: 0.5px;
  color: black;
  margin-top: 50px; }

.menuPrincipal li {
  display: inline;
  padding: 3px;
  background-color: #FFD7BA;
  border: ridge 1px #FEC89A; }

.menuPrincipal ul li a {
  list-style-type: none;
  text-decoration: none;
  color: black; }

.distancianav {
  margin-right: 7.3cm; }

.probandox {
  transform: translate(-15px); }

.tablaprincipal {
  margin-top: 70px;
  background-color: #FFD7BA; }

.tablaprincipal h1 {
  transform: translate(0px, 25px);
  margin-bottom: 60px;
  text-align: center;
  font-size: 25px; }

.tablaprincipal div h5 {
  text-align: center;
  font-size: 15px;
  margin-left: 60px;
  margin-right: 60px;
  line-height: 28px;
  letter-spacing: 1px;
  margin-bottom: 20px; }

.xqelegirnos {
  margin-top: 70px;
  background-color: #FFD7BA; }

.xqelegirnos div img {
  height: 120px;
  width: 120px;
  display: block;
  margin: auto; }

.xqelegirnos h6 {
  text-align: center;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 1px;
  margin-bottom: 20px; }

.xqelegirnos h5 {
  text-align: center; }

.xqelegirnos h1 {
  transform: translate(0px, 25px);
  text-align: center;
  font-size: 25px;
  margin-bottom: 60px; }

.comohacerpedido {
  margin-top: 70px;
  background-color: #FFD7BA; }

.comohacerpedido div img {
  height: 120px;
  width: 120px;
  display: block;
  margin: auto; }

.comohacerpedido h1 {
  transform: translate(0px, 25px);
  text-align: center;
  font-size: 25px;
  margin-bottom: 60px; }

.comohacerpedido h6 {
  text-align: center;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 1px;
  margin-bottom: 20px; }

.comohacerpedido h5 {
  text-align: center; }

.comohacerpedido {
  margin-bottom: 80px; }

.botoninicio {
  text-align: center;
  margin-left: 16,cm;
  margin-bottom: 10px; }

.imagenprincipal img {
  height: 620px;
  width: 1400px; }

.textocarousel {
  margin-bottom: 7cm; }

.imagenprincipal {
  margin-top: 15px; }

.distanciacontacto {
  margin-top: 1cm; }

.img-fluid1 {
  background-image: url(../Images/viandas/principalviandas.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 620px;
  width: 1400px; }

.tuneandotexto h1 {
  color: white;
  text-align: justify;
  margin: auto; }

.colortexto h2 {
  font-size: 40px;
  color: white;
  text-align: center;
  margin: auto;
  margin-top: 6cm; }

/*Tablas de plan de viandas*/
.pdv {
  background-color: #FEC89A; }

.pdv article {
  border: solid 1px black;
  text-align: center;
  padding: 4px;
  width: 250px;
  height: 260px;
  font-size: small; }

.prueba1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px; }

.prueba1 img {
  width: 150px;
  height: 150px; }

.prueba1 p {
  font-size: 10px; }

#planDeViandas {
  text-align: center;
  color: #7E7F9A;
  background-color: #FFD7BA;
  font-size: 25px;
  margin-top: 10px;
  margin-bottom: 50px; }

.viandas {
  margin-top: 40px; }

.viandas2 {
  margin-top: 40px; }

.viandas h1 {
  font-size: 25px; }

.viandas h2 {
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 2px; }

.viandas ul {
  margin-left: 30px; }

.viandas2 h1 {
  font-size: 25px; }

.viandas2 h2 {
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 2px; }

.viandas2 ul {
  margin-left: 30px; }

.backgroundtextpdv {
  background-color: #FFD7BA; }

.img-fluid2 {
  background-image: url(../Images/principalX.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 620px;
  width: 1400px; }

/*Fin tablas de plan de viandas*/
/*Seccion Contacto*/
.solapaContacto {
  color: black;
  text-align: center;
  background-color: #FEC89A; }

.solapaContacto ul li a {
  text-decoration: none;
  list-style: none; }

/*Fin Seccion Contacto*/
/*Diseño Titulo Principal*/
#titulo__principal--diseño {
  color: #7E7F9A;
  background-color: #FFD7BA;
  font-weight: bolder;
  font-size: 30px;
  text-align: center;
  letter-spacing: 7px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 30px;
  margin-top: 20px; }

/*Boody*/
.segparte {
  margin-left: 6cm; }

.borden {
  border: 2px double #FFD7BA;
  margin-top: 10px;
  margin-bottom: 10px; }

.header {
  display: flex;
  justify-content: center;
  align-items: center; }

.header .navbar {
  background-color: transparent !important; }

main h5 {
  font-size: 40px; }

.imgcarru {
  margin-top: 1.5cm; }

.menuPrincipal {
  font-size: 25px;
  text-align: center;
  font-weight: normal;
  letter-spacing: 0.5px;
  color: black;
  margin-top: 50px; }

.menuPrincipal li {
  display: inline;
  padding: 3px;
  background-color: #FFD7BA;
  border: ridge 1px #FEC89A; }

.menuPrincipal ul li a {
  list-style-type: none;
  text-decoration: none;
  color: black; }

.distancianav {
  margin-right: 7.3cm; }

.probandox {
  transform: translate(-15px); }

.tablaprincipal {
  margin-top: 70px;
  background-color: #FFD7BA; }

.tablaprincipal h1 {
  transform: translate(0px, 25px);
  margin-bottom: 60px;
  text-align: center;
  font-size: 25px; }

.tablaprincipal div h5 {
  text-align: center;
  font-size: 15px;
  margin-left: 60px;
  margin-right: 60px;
  line-height: 28px;
  letter-spacing: 1px;
  margin-bottom: 20px; }

.xqelegirnos {
  margin-top: 70px;
  background-color: #FFD7BA; }

.xqelegirnos div img {
  height: 120px;
  width: 120px;
  display: block;
  margin: auto; }

.xqelegirnos h6 {
  text-align: center;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 1px;
  margin-bottom: 20px; }

.xqelegirnos h5 {
  text-align: center; }

.xqelegirnos h1 {
  transform: translate(0px, 25px);
  text-align: center;
  font-size: 25px;
  margin-bottom: 60px; }

.comohacerpedido {
  margin-top: 70px;
  background-color: #FFD7BA; }

.comohacerpedido div img {
  height: 120px;
  width: 120px;
  display: block;
  margin: auto; }

.comohacerpedido h1 {
  transform: translate(0px, 25px);
  text-align: center;
  font-size: 25px;
  margin-bottom: 60px; }

.comohacerpedido h6 {
  text-align: center;
  font-size: 15px;
  line-height: 28px;
  letter-spacing: 1px;
  margin-bottom: 20px; }

.comohacerpedido h5 {
  text-align: center; }

.comohacerpedido {
  margin-bottom: 80px; }

.botoninicio {
  text-align: center;
  margin-left: 16,cm;
  margin-bottom: 10px; }

.imagenprincipal img {
  height: 620px;
  width: 1400px; }

.textocarousel {
  margin-bottom: 7cm; }

.imagenprincipal {
  margin-top: 15px; }

.distanciacontacto {
  margin-top: 1cm; }

.img-fluid1 {
  background-image: url(../Images/viandas/principalviandas.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 620px;
  width: 1400px; }

.tuneandotexto h1 {
  color: white;
  text-align: justify;
  margin: auto; }

.colortexto h2 {
  font-size: 40px;
  color: white;
  text-align: center;
  margin: auto;
  margin-top: 6cm; }

/*Seccion PASTELERIA*/
.bodyPasteleria {
  background-color: #FEC89A; }

.comidaPasteleria, .comidaPasteleria2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 10px;
  margin-left: 10px;
  margin-right: 10px; }

.comidaPasteleria2 {
  margin-top: 40px; }

.comidaPasteleria img, .comidaPasteleria2 img {
  width: 200px;
  height: 200px; }

.pasteleria1 {
  color: #7E7F9A;
  background-color: #FFD7BA;
  text-align: center;
  font-size: 25px; }

.diseñoPasteleria {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }

.diseñoPasteleria li {
  list-style-type: none; }

.diseñoPasteleria li img {
  width: 150px;
  height: 150px; }

.textoPasteleria {
  text-align: center;
  color: black;
  font-size: 15px; }

.textoPasteleria2 {
  text-align: center;
  color: black;
  font-size: 13px; }

.comidaPasteleria p, .comidaPasteleria2 p {
  font-size: 10px; }

.card {
  text-align: center;
  display: block;
  background-color: #FFD7BA !important; }

.img-fluid4 {
  background-image: url(../Images/principasteleria.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 620px;
  width: 1400px; }

/*FIN Seccion PASTELERIA*/
.card {
  background-color: #f7f7f7 !important;
  border: 1px solid grey !important;
  margin-top: 50px; }

/*Seccion Salado*/
.bodySalado {
  background-color: #FEC89A; }

.saladoh1 {
  color: #7E7F9A;
  background-color: #FFD7BA;
  text-align: center;
  font-size: 25px; }

.bodySalado h3 {
  font-size: 15px; }

.diseñoSalado {
  text-align: center;
  color: black; }

.diseñoSalado2 {
  text-align: center;
  color: black;
  margin-bottom: 50px; }

.diseñoPlatos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 10px;
  margin-left: 10px;
  margin-right: 10px; }

.distanciaplatos {
  margin-top: 40px; }

.diseñoPlatos p {
  font-size: 10px; }

.diseñoPlatos img {
  width: 150px;
  height: 150px; }

.diseñoPlatos article {
  border: solid 1px black;
  text-align: center;
  padding: 5px;
  width: 220px;
  height: 250px; }

.probandocentrar {
  text-align: center !important; }

/*Fin Seccion Salado*/
.ratings i {
  font-size: 16px;
  color: red; }

.strike-text {
  color: red;
  text-decoration: line-through; }

.product-image {
  width: 100%; }

.dot {
  height: 7px;
  width: 7px;
  margin-left: 6px;
  margin-right: 6px;
  margin-top: 3px;
  background-color: blue;
  border-radius: 50%;
  display: inline-block; }

.spec-1 {
  color: #938787;
  font-size: 15px; }

h5 {
  font-weight: 400; }

.para {
  font-size: 16px; }

.img-fluid3 {
  background-image: url(../Images/imagenprincipalfondo.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 620px;
  width: 1400px; }

.pruebabackground2 {
  background-color: #f7f7f7 !important;
  border: 1px solid grey !important;
  margin-bottom: 50px; }

.centrolateralderecho {
  text-align: center !important; }

.centrolateralderecho div h4 {
  margin-left: 65px;
  margin-top: 35px; }

/*Seccion EVENTOS*/
.bodyEventos {
  background-color: #FEC89A; }

.eventosPrinc {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 10px;
  margin-left: 10px;
  margin-right: 10px; }

.eventosPrinc img {
  width: 180px;
  height: 70px; }

.diseñoEventosTitulo {
  text-align: center;
  color: #7E7F9A;
  background-color: #FFD7BA;
  font-size: 25px;
  margin-bottom: 50px; }

.eventosPrinc p {
  font-size: 12px; }

.img-fluid5 {
  background-image: url(../Images/viandas/seccionevento.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 620px;
  width: 1400px; }

/*Fin Seccion EVENTOS*/
/*Diseño Footer*/
.footer__info {
  color: yellow;
  font-style: italic;
  font-size: 30px;
  text-align: center;
  font-family: 'Jomhuria';
  margin-top: 50px; }

.footer__info li {
  display: inline;
  padding: 1px;
  color: #7E7F9A;
  background-color: #FFD7BA; }

.footer__info ul li {
  display: inline;
  padding-left: 3px;
  padding-right: 3px; }

.footer__info ul li a {
  list-style-type: none;
  text-decoration: none;
  color: black; }

/*Fin Diseño Footer*/
.probandofooter {
  background-color: #FFD7BA !important;
  margin-top: 120px; }

.distanciafooter {
  margin-bottom: 1cm; }

.tamañoredes li {
  margin-top: 10px;
  margin-left: 55px; }

/*Diseño all imagenes*/
.imgPrincipal {
  display: flex;
  margin-left: 2px;
  width: 50px;
  height: 50px; }

.imgChango2 {
  margin-top: 30px;
  margin-left: 30px;
  width: 110px;
  height: 55px; }

.imgMain {
  display: block;
  margin: auto; }

.tamañoredes li img {
  width: 30px;
  height: 30px; }

.card2 img {
  width: 200px !important;
  height: 205px !important;
  display: block;
  margin-top: 20px; }

.card2 {
  margin-left: 40px;
  margin-right: 15000px; }

.imgcarru h6 {
  text-align: center; }

.imgcarru img {
  width: 290px;
  height: 415px; }

/*FIN Diseño all imagenes*/
@media only screen and (min-width: 992px) {
  .viandas div img {
    margin-left: 1cm; } }

.text-truncat {
  text-align: center !important; }

.pruebabackground2 {
  text-align: center !important; }

@media only screen and (min-width: 0px) and (max-width: 600px) {
  .backgroundtextpdv {
    text-align: center;
    margin-top: 15px; }
  .viandas2bis {
    margin-bottom: 15px; }
  .viandas div img {
    margin-left: 10px; }
  .viandas2 div img {
    margin-left: 10px; }
  .tamañoredes {
    transform: translate(-25px); }
  .comidaPasteleria, .comidaPasteleria2 {
    margin-left: 40px; }
  .preciocard {
    transform: translate(85px); } }

* {
  margin: 0;
  padding: 0; }

body {
  width: auto;
  height: auto;
  background-color: #FEC89A; }

body a {
  text-decoration: none;
  color: black;
  text-align: center;
  list-style-type: none; }

.container22 {
  display: flex;
  margin-top: 25px;
  justify-content: center;
  align-items: center;
  border: none !important; }

.trasparente {
  background-color: #FFD7BA !important;
  border: solid grey 1px !important; }
