@import "variables";
/*Diseño all imagenes*/
.imgPrincipal{ display: flex;
   
    margin-left: 2px;
    width: 50px; height: 50px;  
}



.imgChango2{
    margin-top: 30px;
    margin-left: 30px;
    width: 110px; height: 55px;
}

.imgMain{display:block;
    margin:auto;
}


.tamañoredes li img{
    width: 30px;
    height: 30px;
}

.card2 img {
    width: 200px !important; 
    height: 205px !important;
    display:block;
    margin-top: 20px;


}
.card2{
    margin-left: 40px;
    margin-right: 15000px;
}



.imgcarru h6 {text-align: center;}

.imgcarru img{
    width: 290px;
    height: 415px;

}
/*FIN Diseño all imagenes*/