@import "variables";



@media only screen and (min-width: 992px)
 {
.viandas div img{ margin-left: 1cm;}


 
 .text-truncat{text-align: center !important;}

 .pruebabackground2{text-align: center !important;}

 .rotandonavbar ul li {transform: translate(-90px) !important;}

 .viandasmedq{margin-left: 300px;}


}

@media only screen and (min-width: 0px) and (max-width: 600px)
{
.backgroundtextpdv{text-align: center;
    margin-top: 15px;}


.viandas2bis {margin-bottom: 15px;}

.rotandonavbar ul li {transform: translate(0px) !important;}

.viandas div img {margin-left: 10px;}
.viandas2 div img {margin-left: 10px;}

.tamañoredes  {transform: translate(-25px);}

.comidaPasteleria {margin-left: 40px;}


.preciocard{transform: translate(85px);}
}