@import "variables";



@media only screen and (min-width: 992px)
 {
.viandas div img{ margin-left: 1cm;}


 }


 

@media only screen and (min-width: 0px) and (max-width: 600px)
{
.backgroundtextpdv{text-align: center;
    margin-top: 15px;}


.viandas2bis {margin-bottom: 15px;}



.viandas div img {margin-left: 10px;}
.viandas2 div img {margin-left: 10px;}

.tamañoredes  {transform: translate(-25px);}

.comidaPasteleria {margin-left: 40px;}
}