@import "variables";
@import "todoindex";

/*Seccion PASTELERIA*/

.bodyPasteleria{
    background-color: $colorprincipal;
}
.comidaPasteleria{display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.comidaPasteleria2{
    @extend .comidaPasteleria;
    margin-top: 40px;
}

.comidaPasteleria img{
 width: 200px;
 height: 200px;
}



.pasteleria1{
    color: $textoprincipal;
    background-color:$degradadoletras;
    text-align: center;
    font-size: 25px; ;}

.diseñoPasteleria{display: flex;
    flex-direction: row;
    justify-content: space-evenly;}

.diseñoPasteleria li{
    list-style-type: none;

}

.diseñoPasteleria li img{
    width: 150px; height: 150px;
}
.textoPasteleria{
    text-align: center;
    color: black;
    font-size: 15px;

}

.textoPasteleria2{
    text-align: center;
    color:black;
    font-size: 13px;
}
.comidaPasteleria p{font-size: 10px;}



.card{text-align: center;
    display:block;
    background-color: $degradadoletras!important;
}


.img-fluid4{
    background-image: url(../Images/principasteleria.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 620px; 
    width: 1400px; 
}


/*FIN Seccion PASTELERIA*/

.card {background-color: #f7f7f7!important;
    border: 1px solid grey !important;
margin-top: 50px;}

.comidaPasteleria div p {font-size: 12px;}


.carousel-item img {height: 300px;
width: 450px;
display:block;
margin:auto;
margin-bottom: 10px;}

.textoeventos{margin:auto;
text-align: center;
background-color: #FFD7BA;
border: 3px double rgb(185, 184, 184);
margin-top: 30px;}