@import "variables";
/*Diseño Titulo Principal*/




#titulo__principal--diseño{color: $textoprincipal;
    background-color:$degradadoletras;
    font-weight: bolder;
	font-size: 30px;
	text-align: center;
    letter-spacing: 7px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 30px;
    margin-top: 20px;
}

/*Boody*/


.segparte{margin-left: 6cm;}



.borden{
    border: 2px double $degradadoletras ;
  margin-top: 10px;
  margin-bottom: 10px;

}


.header{
    display: flex; 
    justify-content: center;
    align-items: center;
}
.header .navbar {
    background-color: transparent!important;
    
  }
  
main h5{font-size: 40px;}

.imgcarru{
    
    margin-top: 1.5cm; ;}


.menuPrincipal{
    
    font-size: 25px;
    text-align: center;
    font-weight: normal;
    letter-spacing: 0.5px;
    color: black;
    margin-top: 50px;
  
    
}

.menuPrincipal li {  
    display:inline;
    padding: 3px;
    background-color:$degradadoletras;
   border: ridge 1px #FEC89A;
}


.menuPrincipal ul li a {
    list-style-type: none;
    text-decoration: none;
    color: black;
}


.distancianav{margin-right: 7.3cm;
}



.probandox{transform: translate(-15px);}


.tablaprincipal{margin-top: 70px;
background-color: $degradadoletras;}


.tablaprincipal h1{
    transform: translate(0px, 25px);
    margin-bottom: 60px;
    text-align: center;
    font-size: 25px;
}
.tablaprincipal div h5{
    text-align: center;
    font-size: 15px;
    margin-left: 60px;
    margin-right: 60px;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}



.xqelegirnos{
    margin-top: 70px;
    background-color: $degradadoletras;}


.xqelegirnos div img{
    height: 120px;
    width: 120px;
    display:block;
    margin:auto;
    
}

.xqelegirnos h6{
    text-align: center;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.xqelegirnos h5{text-align: center;}

.xqelegirnos h1{
    transform: translate(0px, 25px);
    text-align: center;
    font-size: 25px;
    margin-bottom: 60px;
}




.comohacerpedido{ margin-top: 70px;
    background-color: $degradadoletras;}

.comohacerpedido div img{
    height: 120px;
    width: 120px;
    display:block;
    margin:auto;
}
.comohacerpedido h1{
    transform: translate(0px, 25px);
    text-align: center;
    font-size: 25px;
    margin-bottom: 60px;
}

.comohacerpedido h6{text-align: center;
    font-size: 15px;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 20px;}

.comohacerpedido h5{text-align: center;}

.comohacerpedido{margin-bottom: 80px;}


.botoninicio{text-align: center;
    margin-left: 16,cm;
    margin-bottom: 10px;
}


.imagenprincipal img {
    height: 620px; 
    width: 1400px; 
   }

.textocarousel{
    margin-bottom: 7cm;
}
.imagenprincipal{margin-top: 15px;}

.distanciacontacto {margin-top: 1cm;}


// DISEÑO IMAGENES CAROUSEL PRINCIPAL

.img-fluidd{
    background-image: url(../Images/viandas/principalviandas.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 620px; 
    width: 1400px; 
}

.tuneandotexto h1{ color: white;
text-align: justify;
margin:auto;}

.colortexto h2 {font-size: 40px;
    color: white;
    text-align: center;
    margin:auto;
    margin-top: 6cm;
}

