@import "variables";
/*Seccion Salado*/

.bodySalado{
    background-color: #FEC89A;
}

.saladoh1{
    color: $textoprincipal;
    background-color:$degradadoletras;
    text-align: center;
    font-size: 25px;
}


.bodySalado h3{
    font-size: 15px;
}


.diseñoSalado{
    text-align: center;
    color:black;

}
.diseñoSalado2{
    text-align: center;
color:black;
margin-bottom: 50px;

}


.diseñoPlatos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

.distanciaplatos{margin-top: 40px;}



.diseñoPlatos p{
    font-size: 10px;
}

.diseñoPlatos img{
    width: 150px; height: 150px;
    
}
.diseñoPlatos article{border:solid 1px black;
text-align: center;
padding: 5px;
width: 220px;
height: 250px;
}

.probandocentrar {text-align: center !important;}


/*Fin Seccion Salado*/


.ratings i {
    font-size: 16px;
    color: red
}

.strike-text {
    color: red;
    text-decoration: line-through
}

.product-image {
    width: 100%
}

.dot {
    height: 7px;
    width: 7px;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 3px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block
}

.spec-1 {
    color: #938787;
    font-size: 15px
}

h5 {
    font-weight: 400
}

.para {
    font-size: 16px
}




.img-fluid3{
    background-image: url(../Images/imagenprincipalfondo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 620px; 
    width: 1400px; 
}



// DISEÑO DE LAS CARTAS

.pruebabackground2{background-color: #f7f7f7!important;
border: 1px solid grey !important;
margin-bottom: 50px;
}


.centrolateralderecho{text-align: center !important;}

.centrolateralderecho div h4{margin-left: 65px;
margin-top: 35px;}
//


