<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="../CSS/estilo.css">
</head>

<header class="row header borden">
    <div class="col-lg-12 col-xs-12">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand distancianav" href="#">Las Recetas De Mamá</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item ">
            <a class="nav-link" href="../index.html">HOME <span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Plandeviandas.html">PLAN DE VIANDAS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Salado.html">SALADO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Pasteleria.html">PASTELERIA</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Eventos.html">EVENTOS</a>
          </li>
         
        
        </ul>
       
      </div>
    </nav>
    </div>
  </header>



<body class="solapaContacto">

    
  
        
    

    

    <label>
    <form action="#">
        <label for="">Nombre</label>
        <input type="text" name="Nombre"><br><br>

        <label for="">Apellido</label>
            <input type="text" name="Apellido"><br><br>

          
                        <label>Sexo</label> 
                        <select name="sexo">
                            <option value="Hombre">Hombre</option>
                            <option value="Mujer">Mujer</option><br>
                        </select><br><br> 

          
            
                <label for="">Celular</label>
                    <input type="number" name="Celular"><br> <br>

                    
                    <label for="">Direccion</label>
                        <input type="number" name="Direccion"><br> <br>

                        <label for="">Email</label>
                            <input type="email" name="Email"><br><br>
                        

                            <label>Deseo recibir promociones por EMAIL</label>
                            <input type="checkbox" name="acepta" value="1"/> <br> <br>



                    <TEXTAREA NAME="" ID="" cols="60" rows="10"
                    placeholder="Pedido..."></TEXTAREA><br>

                        <input type="reset" value="Reseteame">
                        <input type="submit" value="Enviar Formulario">


                        
                        

                  


                     
                     
                       



                        </select>
 


    </label>




    </form>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</body>
</html>