<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eventos</title>
    <meta name="description" content="Servicios de Catering al plato, al pan o en islas y estaciones. Si te casas, cumplis años o queres reunirte...">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="../CSS/estilo.css">
</head>


<body class="bodyEventos container-fluid">

  <header class="row header borden">
    <div class="col-lg-12 col-xs-12">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand distanciana " href="#">Las Recetas De Mamá</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse rotandonavbar " id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto mx-auto">
          <li class="nav-item ">
            <a class="nav-link" href="../index.html">HOME <span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Plandeviandas.html">PLAN DE VIANDAS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Salado.html">SALADO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Pasteleria.html">PASTELERIA</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="Eventos.html">EVENTOS</a>
          </li>
         
        
        </ul>
       
      </div>
    </nav>
    </div>

  </header>

  <div img src="../Images/viandas/seccionevento.jpg" class="img-fluid img-fluid5 container-fluid imagensalado" >
  
    <div class="row colortexto ">
      <h2 class="col-lg-12 col-xs-12 tuneandotexto " data-aos="fade-down" >VIANDAS Y PLATOS SALUDABLES</h2>
      
    </div>
    
  
  </div>



  
  <div class="container-fluid textoeventos" data-aos="fade-up" data-aos-duration="800">


    <div class="">
      <h1>EVENTO STANDARD</h1>
      <H3>PLATO PRINCIPAL + POSTRE</H3>
    </div>


    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-interval="2500">
            <img src="../Images/eventos/buffet-3955616__340.jpg" class="img-fluid" alt="...">
        </div>
        <div class="carousel-item" data-interval="2500">
          <img src="../Images/eventos/food-680180__340.jpg" class="img-fluid" alt="...">
        </div>
       
      </div>
    </div>

  </div>









  <div class="container-fluid textoeventos" data-aos="fade-up" data-aos-duration="800">


    <div class="">
      <h1>EVENTO PREMIUM</h1>
      <H3>PLATO PRINCIPAL + POSTRE + BEBIDA</H3>
    </div>


    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active" data-interval="2500">
            <img src="../Images/eventos/pexels-askar-abayev-5638732.jpg" class="img-fluid" alt="...">
        </div>
        <div class="carousel-item" data-interval="2500">
          <img src="../Images/eventos/istockphoto-1125733916-612x612.jpg" class="img-fluid" alt="...">
        </div>
       
      </div>
    </div>

  </div>



  

  
  <div class="container-fluid textoeventos" data-aos="fade-up" data-aos-duration="800">


    <div class="">
      <h1>EVENTO FULL</h1>
      <H3>ENTRADA + PLATO PRINCIPAL + POSTRE + BEBIDA</H3>
    </div>


    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active"  data-interval="2500">
            <img src="../Images/eventos/istockphoto-1063025552-612x612.jpg" class="img-fluid" alt="...">
        </div>
        <div class="carousel-item" data-interval="2500">
          <img src="../Images/eventos/restaurant-bern-179047__340.jpg" class="img-fluid" alt="...">
        </div>
       
      </div>
    </div>

  </div>










 












  



    
    
      
    <div class="probandofooter footersecciones">
      <!-- Footer -->
      <footer class="page-footer font-small blue pt-4 ">
      
        <!-- Footer Links -->
        <div class="container-fluid text-center text-md-left">
      
          <!-- Grid row -->
          <div class="row">
      
            <!-- Grid column -->
            <div class="col-md-6 mt-md-0 mt-3">
      
              <!-- Content -->
              <h5 class="text-uppercase">NOSOTROS</h5>
              <p>Las recetas de mamá es un emprendimiento creado por Claudia,
                desde siempre sus comidas fueron exquisitas y al pasar los años
                decidio realizar diferentes cursos para asi lograr profesionalizarse
                y crear lo que ahora es LAS RECETAS DE MAMÁ en donde vas a poder
                encontrar planes de viandas, muchisimos platos salados como tambien dulces
                y una seccion de eventos .</p>
      
            </div>
            <!-- Grid column -->
      
            <hr class="clearfix w-100 d-md-none pb-3">
      
            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">
      
              <!-- Links -->
              <h5 class="text-uppercase">Nuestras Redes</h5>
      
              <ul class="list-unstyled tamañoredes">
                <li><a href="https://www.instagram.com/_lasrecetasdemama/" target="_blank"> <img src="../Images/logoig.png" class="rounded" ></a>
                <li>
                  <a href="https://goo.gl/maps/tTfeuNANWZQasKmQ9" target="_blank"> <img src="../Images/logomaps.png" class="rounded"></a> 
                </li>
                <li>
                  <a href="https://wa.me/1136933409" target="_blank"> <img src="../Images/whatsapp.png" class="rounded"></a>
                </li>
                
              </ul>
      
            </div>
            <!-- Grid column -->
      
            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">
      
              <!-- Links -->
              <h5 class="text-uppercase" >CONTACTANOS</h5>
           
              
      
      
              <ul class="list-unstyled tamañoredes distanciacontacto">
              
                <li>
                  <a href="../Views/Contacto.html"><img src="../Images/contacto.png"></a>
                </li>
      
            </div>
            <!-- Grid column -->
      
          </div>
          <!-- Grid row -->
      
        </div>
       
      
        </footer>
        
      
      </div>
      
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init();
    </script>
  </body>
</html>