<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plan De Viandas</title>
    <meta name="description" content="Crea tu propio plan de viandas a medida y recibilo en tu domicilio: vegano, light, gourmet, economico y muchos mas... ">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="../CSS/estilo.css">
</head>

<body class="pdv ">



<div class="container-fluid">
<header class="row header borden ">

  <div class="col-lg-12 col-xs-12">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand  distanciana " href="#">Las Recetas De Mamá</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto mx-auto">
        <li class="nav-item ">
          <a class="nav-link" href="../index.html">HOME <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="Plandeviandas.html">PLAN DE VIANDAS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Salado.html">SALADO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Pasteleria.html">PASTELERIA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="Eventos.html">EVENTOS</a>
        </li>
       
      
      </ul>
     
    </div>
  </nav>
  </div>
</header>
</div>


<div img src="../Images/principalX.jpg" class="img-fluid img-fluid2 container-fluid imagensalado" >
  <div class="row colortexto ">
    <h2 class="col-lg-12 col-xs-12 tuneandotexto " data-aos="fade-up">ARMA TU PLAN DE VIANDAS</h2>
    
  </div>

</div>

   
 

   

    
   


<div class="container-fluid">
    <div class="row viandas">
      <div class="col-lg-6 col-xs-6" data-aos="fade-right" >
        <img src="../Images/viandas/viandasgurmet.png" class="img-fluid rounded">
      </div>


        <div class="col-lg-6 col-xs-6 backgroundtextpdv ">
          <h1>VIANDAS GOURMET</h1>
          <H2>Esas comidas que te encanta comer, pero no cocinar. Más ricas de lo que podés imaginar.</H2> <br>

          <h2> Los paladares más exigentes se deleitan con las comidas gourmet caseras más deliciosas, preparadas con materias primas de alta calidad.</h2> <br>
            
           <h2>Disfrutá del sabor de platos elaborados de pasta, carne, pollo y cerdo sin ensuciar ni una cacerola con nuestras Viandas Gourmet.  </h2> <br>
            
           <h2>Elegi tus platos Gourmet favoritos :</h2>
            <ul>
              <li>Pastel de papa.</li>
              
            <li>Milanesa con papas a la española </li>

            <li>Costillitas de cerdo </li>
            </ul>
        </div>

    </div>
</div>


<div class="container-fluid">
    <div class="row viandas2">
     

        <div class="col-lg-6 backgroundtextpdv viandas2bis">
          <h1>VIANDAS LIGHT</h1>
          <H2>¿Quién dijo que para cuidarse hay que pasar hambre? Una alternativa liviana y rica para tus comidas.</H2> <br>

          <h2> Encontrá los platos bajos en calorías más deliciosos, con una selección de ingredientes naturales que te ofrecen la posibilidad de disfrutar mientras cuidas tu figura.</h2> <br>
            
           <h2>Nuestro menú saludable de Viandas Light es ideal para quienes buscan llevar una vida sana pero no tienen tiempo ni ganas de pasar horas en la cocina.  </h2> <br>
            
           <h2>Elegí tus platos light favoritos: :</h2>


            <ul>
                <li>Mini tarta de zapallito.</li>             
                <li>Canelones de ricota y espinaca </li>
                <li>Risoto de hongos</li>
            </ul>
        </div>


        <div class="col-lg-6" data-aos="fade-left" >
          <img src="../Images/viandas/viandaslight.png" class="img-fluid rounded">
        </div>
  

    </div>
  </div>

   <div class="container-fluid">
    <div class="row viandas">
      <div class="col-lg-6" data-aos="fade-right" >
        <img src="../Images/viandas/viandasveganas.png" class="img-fluid rounded">
      </div>


        <div class="col-lg-6 backgroundtextpdv">
          <h1>VIANDAS VEGANAS</h1>
          <H2>Para quienes eligen una alimentación vegetariana o vegana, tanto por conciencia ambiental, protección de los animales o simplemente por gusto.</H2> <br>

          <h2> Platos a base de vegetales frescos y nutritivos, diseñados para aportar una proporción correcta de macro y micronutrientes, priorizando alimentos fuente de proteína vegetal.</h2> <br>
            
           <h2>Si buscás comidas vegetarianas saludables, encontrá una solución rica y súper fácil en nuestras Viandas Veggie.</h2> <br>
            
           <h2>Elegi tus platos Veggie favoritos :</h2>
            <ul>
              <li>Guiso de lentejas veggie.</li>
              
            <li>Pastel de calabaza con base de lentejas</li>

            <li>Omelette de espinaca </li>
            </ul>
        </div>

    </div>
  </div>


  <div class="container-fluid">

    <div class="row viandas2">
     

      <div class="col-lg-6 backgroundtextpdv viandas2bis">
        <h1>VIANDAS KIDS</h1>
        <H2>¿Te preocupa que la alimentación de tus hijos sea balanceada? ¿Estás buscando una comida saludable para los más chicos porque querés evitar los ultraprocesados?</H2> <br>

        <h2> Nuestras viandas saludables para niños vienen a resolverte todos los problemas.</h2> <br>
          
         <h2>Ofreceles platos deliciosos, nutritivos y muy prácticos de comida real, con los sabores que a ellos les encantan, para que crezcan fuertes y sanos.  </h2> <br>
          
         <h2>Elegí tus platos KIDS favoritos: :</h2>


          <ul>
              <li>Pechuguitas rellenas de jamón y queso con arroz.</li>             
              <li>Milanesitas de pollo con papas fritas </li>
              <li>Pollito al horno con bombas de papa</li>
          </ul>
      </div>


      <div class="col-lg-6" data-aos="fade-left" >
        <img src="../Images/viandas/viandaschicos.png" class="img-fluid rounded">
      </div>


  </div>
</div>





  <div class="probandofooter footersecciones">
    <!-- Footer -->
    <footer class="page-footer font-small blue pt-4 ">
    
      <!-- Footer Links -->
      <div class="container-fluid text-center text-md-left">
    
        <!-- Grid row -->
        <div class="row">
    
          <!-- Grid column -->
          <div class="col-md-6 mt-md-0 mt-3">
    
            <!-- Content -->
            <h5 class="text-uppercase">NOSOTROS</h5>
            <p>Las recetas de mamá es un emprendimiento creado por Claudia,
              desde siempre sus comidas fueron exquisitas y al pasar los años
              decidio realizar diferentes cursos para asi lograr profesionalizarse
              y crear lo que ahora es LAS RECETAS DE MAMÁ en donde vas a poder
              encontrar planes de viandas, muchisimos platos salados como tambien dulces
              y una seccion de eventos .</p>
    
          </div>
          <!-- Grid column -->
    
          <hr class="clearfix w-100 d-md-none pb-3">
    
          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">
    
            <!-- Links -->
            <h5 class="text-uppercase">Nuestras Redes</h5>
    
            <ul class="list-unstyled tamañoredes">
              <li><a href="https://www.instagram.com/_lasrecetasdemama/" target="_blank"> <img src="../Images/logoig.png" class="rounded" ></a>
              <li>
                <a href="https://goo.gl/maps/tTfeuNANWZQasKmQ9" target="_blank"> <img src="../Images/logomaps.png" class="rounded"></a> 
              </li>
              <li>
                <a href="https://wa.me/1136933409" target="_blank"> <img src="../Images/whatsapp.png" class="rounded"></a>
              </li>
              
            </ul>
    
          </div>
          <!-- Grid column -->
    
          <!-- Grid column -->
          <div class="col-md-3 mb-md-0 mb-3">
    
            <!-- Links -->
            <h5 class="text-uppercase" >CONTACTANOS</h5>
         
            
    
    
            <ul class="list-unstyled tamañoredes distanciacontacto">
            
              <li>
                <a href="Views/Contacto.html"><img src="../Images/contacto.png"></a>
              </li>
    
          </div>
          <!-- Grid column -->
    
        </div>
        <!-- Grid row -->
    
      </div>
     
    
      </footer>
      
    
    </div>
    



 

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
 <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
 <script>
     AOS.init();
 </script>
</body>
</html>
