<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salado</title>
    <meta name="description" content="Aqui vas a encontrar todo tipo de platos salados: Pastas, pastel de papa, sopas, bocadillos, focaccias, recetas de moussaka, de pasta, rissotto, hamburguesa">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" href="../CSS/estilo.css">
</head>


<body class="bodySalado">
 <div class="container-fluid">
  <header class="row header borden ">
    <div class="col-lg-12 col-xs-12">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand  distanciana" href="#">Las Recetas De Mamá</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto mx-auto">
          <li class="nav-item ">
            <a class="nav-link" href="../index.html">HOME <span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Plandeviandas.html">PLAN DE VIANDAS</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="Salado.html">SALADO</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Pasteleria.html">PASTELERIA</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="Eventos.html">EVENTOS</a>
          </li>
         
        
        </ul>
       
      </div>
    </nav>
    </div>
  </div>
  </header>

  



  
  
  <div img src="../Images/imagenprincipalfondo.png" class="img-fluid img-fluid3 container-fluid imagensalado" >
  <div class="row colortexto ">
    <h2 class="col-lg-12 col-xs-12 tuneandotexto " data-aos="fade-down">ELEGÍ TUS PLATOS SALADOS</h2>
  </div>

  </div>










   <div class="container mt-5 mb-5">
    <div class="d-flex justify-content-center row">
        <div class="col-md-10">



    

          <div class="row p-2 bg-white border rounded mt-2 pruebabackground2" data-aos="fade-right"  data-aos-duration="1500">
            <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="../Images/platos/spagueti bolonesa.jpg"></div>
            <div class="col-md-6 mt-1">
                <h5>FIDEOS CON BOLOGNESA</h5>
                <div class="d-flex flex-row">
                    <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                </div>
                <div class="mt-1 mb-1 spec-1"><span>Peso: 350gr</span><span class="dot"></span><span>458 kcal </span><span class="dot"></span><span>Ingredientes<br></span></div>                   
                <p class="text-justify text-truncat para mb-0"> Fideos, bondiola, carne para picada, panceta ahumada, zanahoria, cebolla, extracto de tomate, caldo de carne, salsa mediterranea, laurel, sal fina, pimienta blanca, chorizo, orégano fresco, tomillo fresco.<br><br></p>

              </div>
            <div class="align-items-center align-content-center col-md-3 border-left mt-1 centrolateralderecho">
                <div class="d-flex flex-row align-items-center">
                    <h4 class="mr-1 preciocard">$470</h4>
                </div>
                <h6 class="text-success">Envio Gratis</h6>
                <div class="d-flex flex-column mt-4"><button class="btn btn-outline-primary btn-sm mt-2" type="button">Añadir al carrito</button></div>
            </div>
        </div>



            <div class="row p-2 bg-white border rounded mt-2 pruebabackground2" data-aos="fade-left"  data-aos-duration="1500">
                <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="../Images/platos/pasteldepapa.jpg"></div>
                <div class="col-md-6 mt-1">
                    <h5>PASTEL DE PAPA</h5>
                    <div class="d-flex flex-row">
                        <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                    </div>
                    <div class="mt-1 mb-1 spec-1"><span>Peso: 380gr</span><span class="dot"></span><span>737 kcal </span><span class="dot"></span><span>Ingredientes<br></span></div>
                    <p class="text-justify text-truncat para mb-0"> Papa, huevo, queso parmesano, cebolla, ajo, cebolla de verdeo, morrón rojo, carne de ternera picada, bondiola de cerdo picada, comino, pimienta negra, pimientón, ají molido, aceite de girasol, aceite de oliva, sal fina, nuez moscada<br><br></p>
                </div>
                <div class="align-items-center align-content-center col-md-3 border-left mt-1  centrolateralderecho">
                    <div class="d-flex flex-row align-items-center">
                        <h4 class="mr-1 preciocard">$450</h4>
                    </div>
                    <h6 class="text-success">Envio Gratis</h6>
                    <div class="d-flex flex-column mt-4"><button class="btn btn-outline-primary btn-sm mt-2" type="button">Añadir al carrito</button></div>
                </div>
            </div>


            <div class="row p-2 bg-white border rounded mt-2 pruebabackground2" data-aos="fade-right"  data-aos-duration="1500">
              <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="../Images/platos/hambur.jpg"></div>
              <div class="col-md-6 mt-1">
                  <h5>HAMBURGUESA CON PURE</h5>
                  <div class="d-flex flex-row">
                      <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                  </div>
                  <div class="mt-1 mb-1 spec-1"><span>Peso: 450gr</span><span class="dot"></span><span>567 kcal </span><span class="dot"></span><span>Ingredientes<br></span></div>
                  <p class="text-justify text-truncat para mb-0">Cebolla, zanahoria, zucchini, ajo, aceite de girasol, sal, perejil, albahaca, avena, zapallo , comino, nuez moscada, miel, crema<br><br></p>
              </div>
              <div class="align-items-center align-content-center col-md-3 border-left mt-1 centrolateralderecho">
                  <div class="d-flex flex-row align-items-center">
                      <h4 class="mr-1 preciocard">$500</h4>
                  </div>
                  <h6 class="text-success">Envio Gratis</h6>
                  <div class="d-flex flex-column mt-4"><button class="btn btn-outline-primary btn-sm mt-2" type="button">Añadir al carrito</button></div>
              </div>
          </div>




            <div class="row p-2 bg-white border rounded mt-2 pruebabackground2" data-aos="fade-left"  data-aos-duration="1500">
                <div class="col-md-3 mt-1"><img class="img-fluid img-responsive rounded product-image" src="../Images/platos/burritos.jpg"></div>
                <div class="col-md-6 mt-1">
                    <h5>BURRITOS CON PAPAS</h5>
                    <div class="d-flex flex-row">
                        <div class="ratings mr-2"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i></div>
                    </div>
                    <div class="mt-1 mb-1 spec-1"><span>Peso: 420gr</span><span class="dot"></span><span>637 kcal </span><span class="dot"></span><span>Ingredientes<br></span></div>                    <p class="text-justify text-truncat para mb-0">Tortilla, pollo, palta, porotos, cebolla, morrón verde, morrón rojo, cilantro, ajo, crema light, queso muzarella, zanahoria, tomate asado, apio, jugo de limón, aceite, sal, pimienta, pimentón, comino, laurel.<br><br></p>
                </div>
                <div class="align-items-center align-content-center col-md-3 border-left mt-1 centrolateralderecho">
                    <div class="d-flex flex-row align-items-center">
                        <h4 class="mr-1 preciocard">$530</h4>
                    </div>
                    <h6 class="text-success">Envio Gratis</h6>
                    <div class="d-flex flex-column mt-4"><button class="btn btn-outline-primary btn-sm mt-2" type="button">Añadir al carrito</button></div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="container container22">
  <ul class="pagination pagination-sm">
  <li class="page-item"><a class="page-link trasparente" href="#">Previous</a></li>
  <li class="page-item"><a class="page-link trasparente" href="#">1</a></li>
  <li class="page-item"><a class="page-link trasparente" href="#">2</a></li>
  <li class="page-item"><a class="page-link trasparente" href="#">3</a></li>
  <li class="page-item"><a class="page-link trasparente" href="#">Next</a></li>
  </ul>
</div>


   


<div class="probandofooter">
  <!-- Footer -->
  <footer class="page-footer font-small blue pt-4 ">
  
    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">
  
      <!-- Grid row -->
      <div class="row">
  
        <!-- Grid column -->
        <div class="col-md-6 mt-md-0 mt-3">
  
          <!-- Content -->
          <h5 class="text-uppercase">NOSOTROS</h5>
          <p>Las recetas de mamá es un emprendimiento creado por Claudia,
            desde siempre sus comidas fueron exquisitas y al pasar los años
            decidio realizar diferentes cursos para asi lograr profesionalizarse
            y crear lo que ahora es LAS RECETAS DE MAMÁ en donde vas a poder
            encontrar planes de viandas, muchisimos platos salados como tambien dulces
            y una seccion de eventos .</p>
  
        </div>
        <!-- Grid column -->
  
        <hr class="clearfix w-100 d-md-none pb-3">
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase">Nuestras Redes</h5>
  
          <ul class="list-unstyled tamañoredes">
            <li><a href="https://www.instagram.com/_lasrecetasdemama/" target="_blank"> <img src="../Images/logoig.png" class="rounded" ></a>
            <li>
              <a href="https://goo.gl/maps/tTfeuNANWZQasKmQ9" target="_blank"> <img src="../Images/logomaps.png" class="rounded"></a> 
            </li>
            <li>
              <a href="https://wa.me/1136933409" target="_blank"> <img src="../Images/whatsapp.png" class="rounded"></a>
            </li>
            
          </ul>
  
        </div>
        <!-- Grid column -->
  
        <!-- Grid column -->
        <div class="col-md-3 mb-md-0 mb-3">
  
          <!-- Links -->
          <h5 class="text-uppercase" >CONTACTANOS</h5>
       
          
  
  
          <ul class="list-unstyled tamañoredes distanciacontacto">
          
            <li>
              <a href="Views/Contacto.html"><img src="../Images/contacto.png"></a>
            </li>
  
        </div>
        <!-- Grid column -->
  
      </div>
      <!-- Grid row -->
  
    </div>
   
  
    </footer>
    
  
  </div>
  
  












<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
 <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
 <script>
     AOS.init();
 </script>
</body>
</html>