* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: sans-serif;
}

h1 {
    font-family: 'Cinzel', serif;
    font-size: 80px;
    text-align: center;
    color: black;
    text-shadow: 1px 1px 1px wheat;
    margin-bottom: 40px;
    margin-top: 30px;
}

.fontDestacados {
    font-family: 'Cinzel', serif;
    text-align: center;
    font-size: 70px;
    color: black;
    text-shadow: 1px 1px 1px wheat;
    margin: 30px;
}

body {
    background-color: #FEC89A !important;
}

.listaDesordenada li{
    display: inline;
    margin: auto;
    font-size: 2em;
    padding: 30px;
    text-align: center;

}

.navMenu {
    width: 100%;
    height: 7vh;
    border-top: solid 2px wheat;
    border-bottom: solid 2px wheat;
    word-spacing: 30vh;
    text-align: center;
}

.menuInicio {
    text-decoration: none;
    color: black;
    font-family: 'Roboto Slab', serif;
}






h3{
    font-family: 'Cinzel', serif;
    text-align: center;
    font-size: 50px;
    color: black;
    text-shadow: 1px 1px 1px wheat;
    margin: 30px;
}
.quieneSomos {
    font-size: 20px;
    margin-bottom: 50px;
    text-align: center;
    color: black;
}

.sectionQuieneSomos{
    margin-top: 20px;
    border-top: solid 2px wheat;
    
}

/* ESTILO FOOTER */

.sectionFooter {
    text-align: center;
    margin-top: 15px;
    font-size: 30px;
}

.listaFooter {
    text-decoration: none;
    color: black;
}


.containerFooterAll {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.container-footer{
    display: flex;
    justify-content: space-between;
}

.columna1{
    max-width: 400px;
}

.columna1 h2 {
    font-size: 22px;
}

.columna1 p {
    font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
}

.columna2 {
    max-width: 400px;

}

.columna2 h2 {
    font-size: 22px;

}

.filaRedes {
    margin-top: 20px;
    display: flex;
} 

.filaRedes img{
    width: 36px;
    height: 36px;
}

.filaRedes label {
    margin-top: 10px;
    margin-left: 20px;
    color: #C7C7C7;
}

.columna3 {
    max-width: 400px;
}

.columna3 h2 {
    font-size: 22px;
}

.fila2{
    margin-top: 20px;
    display: flex;
}

.fila2 img{
    width: 36px;
    height: 36px;
}

.fila2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
}

.container-footer2 {
    width: 100%;
    background-color: #101010;
    display: flex;
    justify-content: center;
    padding: 20px;
}

.copyright{
    color: #C7C7C7;
}

.copyright a{
    color: black;
    text-decoration: none;
    font-weight: bold;
}

/* RESPONSIVE */

@media (max-width: 760px){
    .container-footer {
        flex-wrap: wrap;
    }

    .columna1 {
        max-width: 100%;
    }

    .columna2, 
    .columna3{
        margin-top: 40px;
    }
        /* header */
        .mostrar-menu,
        .esconder-menu {
          display: block;
        }
        .menu {
          position: fixed;
          width: 100%;
          height: 100vh;
          background-color: #FEC89A !important;
          top: 0;
          right: -100%;
          top: 0;
          text-align: center;
          padding: 100px 0px;
          z-index: 100;
          -webkit-transition: 0.8s;
          transition: 0.8s;
        }
        .menu a {
          display: block;
          padding: 20px;
        }
        .esconder-menu {
          position: absolute;
          top: 40px;
          right: 40px;
        }
        #check:checked ~ .menu {
          right: 0;
        }
}
/* FIN RESPONSIVE */
/* PRODUCTOS */

.sectionProductos {
    max-width: 1200px;
    width: 100%;
    display: inline;
    justify-content: center;
    text-align: center;
}

.sectionProductos div img{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 0px;
    border-radius: 8px;
    border: solid 2px black;
    
}


.datosContacto {
    text-align: center;
    margin-top: 40px;
}

.inputContacto {
    margin: 5px;
    height: 50px;
}


#respuesta-formulario {
    color: black;
    margin-top: 10px;
}

/* ESTILO HEADER */

header {
    height: 100px;
    background-color: #FEC89A;
    padding: 0 50px;
    color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .logo {
    text-transform: uppercase;
    color: black;
    text-shadow: 2px 2px 2px wheat;
    font-weight: 200;
    font-size: 30px;
  }
  
  .menu a {
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0px 10px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  .mostrar-menu,
  .esconder-menu {
    font-size: 30px;
    cursor: pointer;
    display: none;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }
  
  .mostrar-menu {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  
  .menu a:hover,
  .mostrar-menu:hover,
  .esconder-menu:hover {
    color: wheat;
  }
  
  #check {
    display: none;
  }

.addToCart {
    margin-bottom: 20px;
    margin-right: 30px;
}

#nosotros {
    border-top: solid 2px wheat;
    margin-bottom: 30px;
    padding-top: 30px;
}

/* Carrito */

.shopping-cart-items {
    padding: 20px 0px;
  }
  
  .shopping-cart-header {
    border-bottom: 1px solid #ccc;
  }
  
  .shopping-cart-image {
    max-width: 80px;
    border-radius: 20px;
  }
  
  .shopping-cart-quantity-input {
    max-width: 45px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #eee;
    padding: 5px;
  }
  
  .shopping-cart-total {
    min-height: 96px;
  }

  .shopping-cart {
      background-color: #FEC89A;
      border: solid 2px #FEC89A;
      border-radius: 15px;
  }

  .text-center {
      color: black;
  }
  /* estilos productos */

  .item {
    border: 2px solid grey;
    padding: 10px;
    border-radius: 20px;
  }
  
  .title {
   
    text-align: center;
    font-weight: 20px;
    color: black;
    background-color: #FEC89A;
    border-radius: 8px;
    border: solid 1px grey;
  }
  
  .item-image {
    height: 400px;
    width: 80%;
    border-radius: 8px;
    border: solid 1px wheat;
    display:block;
margin:auto;
  }
  
  .item-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px 15px;
  }
  
  .item-details > .price {
    margin-left: 30px;
    color: black;
    margin-bottom: 20px;
  }


.modal-body{
    text-align: center;
    font-size: 20px;
}


#comprarModal{
    background-color:#FEC89A ;
}
#comprarModalLabel{text-align: center !important;
font-size: 25px;}

.modal-footer{
    text-align: center;
   
}

.botonmicarrito a{
    text-decoration: none !important;
}
.titlecarrito{
    margin-left: 100px !important;
}
.modal-title{
    margin-left: 50px !important;
}

.cardcolor{
    background-color: #FFD7BA !important;
}
.todosnuestrosproductos{
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 40px;
}
#deslizacarrito{
    border: 2px black solid;
    margin:20px;
    
}

